<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.LoginPageTest"/>
      <class name="tests.BrandPageTest"/>
      <class name="tests.ShoppingCartPageTest"/>
      <class name="tests.NegativeLoginPage"/>
      <class name="tests.DepartmentPageTest"/>
      <class name="tests.SignUpPageTest"/>
      <class name="tests.CheckoutPageTest"/>
      <class name="tests.NegativeSignUp"/>
      <class name="tests.ExtendReport"/>
      <class name="tests.BaseTest"/>
      <class name="tests.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
